	body {
			body: 0;
			padding:0;
			margin: 0;
			background: #fff;
			font-family: 'Roboto', sans-serif;
			background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}
		#ad {
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: 9;
		}
		#selectMap {
			position: fixed;
			top:0;
			right:0;
			background: rgba(0,0,0,0.8);
			z-index: 9;
		}
		#selectMap a {
			display:block;
			text-decoration: none;
			color: white;
			font-family: 'MedievalSharp', cursive;
			padding: 15px;
		}
		#selectMap a:hover {
			background: #000;
		}
		#mouse-position {
			position: fixed;
			top: 0;
			left: 350px;
			right:0;
			bottom: 0;
			z-index: 1;
		}
		#map {
			width: 100%;
			height: 100%;
			position: fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: 3;
		}
		.item {
		}
		.item p {
			display:none;
		}
		.item img {
			padding: 2px;
			border-radius: 25px;
			border: 1px solid black;
		}		
		#legend {
			width: 350px;
			position:relative;
			z-index: 5;
			height: 100%;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		#legend::-webkit-scrollbar{
			width: 0;
		}
		#legend ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		#legend ul > li > a {
			font-family: 'MedievalSharp', cursive;
			display:block;
			padding: 25px;
			text-align: left;
			background-color: rgba(0,0,0,0.9);
			border-bottom: 1px solid rgba(255,255,255,0.2);
			color: white;
			text-decoration: none;
		}
		#legend ul > li > a:hover {
			background-color: rgba(0,0,1,1);
		}
		#legend ul > li > a > img {
			float: right;
			opacity: 1;
			border-radius: 25px;
			width: 50px;
			height: 50px;
			margin-top: -16px;
			opacity: 0.9;
		}
		#map > .icon-img {

			-webkit-transition: height 100ms linear, width 100ms linear;
			-moz-transition: height 100ms linear, width 100ms linear;
			transition: height 100ms linear, width 100ms linear;
			width: 25px;
			height: 25px;
			position: relative;
			z-index: 98;
		}
		.do-glow {
			-webkit-transition: height 100ms linear, width 100ms linear;
			-moz-transition: height 100ms linear, width 100ms linear;
			transition: height 100ms linear, width 100ms linear;
			width: 50px;
			height: 50px;
			box-shadow: 0 0 0 10px orange;
			position: relative;
			z-index: 9999;
		}

		#loader {
			color: #000000;
			font-size: 90px;
			text-indent: -9999em;
			overflow: hidden;
			width: 1em;
			height: 1em;
			border-radius: 50%;
			margin: 72px auto;
			position: relative;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
			animation: load6 1.7s infinite ease, round 1.7s infinite ease;
			z-index:999;
		  }
		  @-webkit-keyframes load6 {
			0% {
			  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			}
			5%,
			95% {
			  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			}
			10%,
			59% {
			  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
			}
			20% {
			  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
			}
			38% {
			  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
			}
			100% {
			  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			}
		  }
		  @keyframes load6 {
			0% {
			  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			}
			5%,
			95% {
			  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			}
			10%,
			59% {
			  box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
			}
			20% {
			  box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
			}
			38% {
			  box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
			}
			100% {
			  box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			}
		  }
		  @-webkit-keyframes round {
			0% {
			  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
			}
			100% {
			  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
			}
		  }
		  @keyframes round {
			0% {
			  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
			}
			100% {
			  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
			}
		  }
		  .blur {
			display:block;
			position: fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			z-index: 9998;
			-webkit-filter: blur(10px);
		  }
		  #loading {
			display:block;
			position: fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background: rgba(0,0,0,0.50);
			z-index: 9999;
		  }